<!DOCTYPE html>
<html>
<head>
    <title>Public Notes</title>
    <style>
        #new_post {
            display: none; 
            position: fixed; 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000; 
        }
    </style>
</head>
<body>
    <h1>Public Notes</h1>
    <button onclick="open_new_post_window()">Add a note</button>

    <div id="new_post">
        <h2>Add a new post</h2>
        <label for="title">Título:</label>

        <label for="title">Título:</label>
        <input type="text" id="title" name="title"><br><br>

        <label for="body_text">Texto:</label>
        <textarea id="body_text" name="body_text"></textarea><br><br>

        <button onclick="send_data()">Confirm</button>
        <button onclick="close_insert_window()">Cancel</button>
    </div>

    <script>
        function open_new_post_window() {
            document.getElementById('new_post').style.display = 'block';
        }

        function close_insert_window() {
            document.getElementById('new_post').style.display = 'none';
        }

        function send_data() {
            var title = document.getElementById('title').value;
            var body_text = document.getElementById('body_text').value;
            console.log("Title:", title);
            console.log("Text:", body_text);
            close_insert_window(); 
        
        }
    </script>
</body>
</html>